numpy
scipy >=0.10
matplotlib >=1.2.0, !=2.0.1, !=2.0.2
pandas >=1.1.0
statsmodels >=0.9
pingouin >=0.3.5
scikit-posthocs
pyreadstat
odfpy
xlrd
openpyxl
pyreadr
configobj
python-bidi
IPython
Jupyter
PyQt5
