numpy
scipy >=1.9
matplotlib >=1.2.0, !=2.0.1, !=2.0.2
pandas >=1.1.0
statsmodels >=0.12.2
pingouin >=0.3.8
scikit-posthocs
pyreadstat
odfpy
xlrd
openpyxl
pyreadr
appdirs
configobj
python-bidi
IPython
Jupyter
PyQt5
sklearn
