numpy
scipy >=1.9, !=1.10
matplotlib >=1.5.0, !=2.0.1, !=2.0.2
pandas >=1.5.0
statsmodels >=0.13.0
pingouin >=0.3.12
scikit-posthocs >= 0.7.0
pyreadstat >=1.1.5
odfpy
xlrd
openpyxl >=3.0.7
pyreadr >=0.4.5
appdirs
python-bidi
IPython
Jupyter
PyQt5
scikit-learn
svgutils
